<div class="MBP_CORPS">
	<div class="MBP_CORPS_TITRE">
		<div class="h2">Création d'annonce</div>
	</div>
	<div class="MBP_CORPS_CONTENU">
		<form>
			<div class="row">
				<div class="form-group col">
					<label for="NomCreaAnnonce">Nom : </label>
					<input type="text" id="NomCreaAnnonce" class="form-control" placeholder="Nom de votre annonce">
				</div>
				<div class="form-group col">
					<label for="DescriptionCreaAnnonce">Description : </label>
					<input type="txt" id="DescriptionCreaAnnonce" class="form-control"placeholder="Description pour votre annonce">
				</div>
			</div>
			<div class="MBP_LINE_1PX"></div>
			<div class="row">
				<div class="form-group col">
					<label for="DureeSeanceCreaAnnonce">Durée de la séance : </label>
					<input type="time" id="DureeSeanceCreaAnnonce" class="form-control" placeholder="Indiquez la durée de la séance">
				</div>
				<div class="form-group col">
					<label for="DateSeanceCreaAnnonce">Date de la séance : </label>
					<input type="date" id="DateSeanceCreaAnnonce" class="form-control" placeholder="Indiquez la date de la séance">
				</div>
			</div>
			<div class="MBP_LINE_1PX"></div>
			<div class="row">
				<div class="form-group col-6">
					<label for="typeSeance">Type de séance : </label>
					<select class="form-control" id="typeSeance"></select>
				</div>
			</div>
			<script type="text/javascript" src="scriptCreaAnnonce.js"></script>
			<div class="row">
				<div class="col-12">					
					<button type="submit" class="btn MBP_BTN_SUBMIT float-right">Créer</button>
				</div>	
			</div>
		</form>
	</div>
</div>