/* You can add global styles to this file, and also import other style files */

.DiV_100 {
    size : 100%;
    display : inline-block;
}

.DIV_75 {
    size : 75%;
    display : inline-block;
}

.DIV_50 {
    size : 50%;
    display : inline-block;
}

.DIV_25 {
    size: 25%;
    display : inline-block;
}

.DIV_10 {
    size: 10%;
    display : inline-block;
}

.DIV_5 {
    size: 5%;
    display : inline-block;
}


