<div class="MBP_CORPS">
  <div class="MBP_CORPS_TITRE">
    <div class="h2 text-center">Liste des tickets de support</div>
  </div>
  <div class="MBP_CORPS_CONTENU">
    <div *ngIf="(obsListTickets | async)?.length > 0">
    <div class="row ROW_USER" *ngFor="let ticket of obsListTickets | async">
      <div class="col-10 INFO_USER">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <label class="ROW_LABEL">Username : &nbsp;</label>
              <span> {{ticket.username}} </span>
            </div>
            <div class="row">
              <label class="ROW_LABEL">Objet : &nbsp;</label>
              <span> {{ticket.object}} </span>
            </div>
            <div class="row">
              <label class="ROW_LABEL">Description : &nbsp;</label>
              <span> {{ticket.description}} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 ">
        <button style="margin-top: 25%" mat-mini-fab color="warn" (click)="confirmDeleteTicket(ticket)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    </div>
    <p class="text-center text-info" *ngIf="(obsListTickets | async)?.length == 0">Aucun ticket support en cours.</p>
  </div>
</div>
