<div class="MBP_CORPS">
	<div class="MBP_CORPS_TITRE">
		<div class="h2 text-center">Réinitialisation du mot de passe</div>
	</div>
	<div class="MBP_CORPS_CONTENU">
		<form *ngIf="!goodToken" [formGroup]="createTokenForm"
			(ngSubmit)="onSubmitFormCreateToken()">
			<div class="form-group row align-self-center">
				<div class="col-3"></div>
				<div class="col-6">
					<label for="email">E-mail : </label> <input type="text"
						class="form-control form-control-sm" id="email"
						formControlName="email">
				</div>
				<div class="col-3"></div>
			</div>
			<div class="row">
				<div class="col-12">
					<button class="btn MBP_BTN_SUBMIT float-right" type="submit"
						[disabled]="createTokenForm.invalid">Valider</button>
				</div>
			</div>
		</form>
		<form *ngIf="goodToken" [formGroup]="resetPasswordForm"
			(ngSubmit)="onSubmitFormResetPassword()">
			<div class="form-group row align-self-center">
				<div class="col-3"></div>
				<div class="col-6">
					<label for="password">Nouveau mot de passe : </label> 
					<input type="password"
						class="form-control form-control-sm" id="email"
						formControlName="password">
					 <p class="text-info">Au moins 7 caractères avec 1 majuscule, 1 miniscule et 1 chiffre</p>
					
				</div>
				<div class="col-3"></div>
			</div>
			<div class="form-group row align-self-center">
				<div class="col-3"></div>
				<div class="col-6">
					<label for="confirmPassword">Confirmer le mot de passe : </label> 
					<input type="password"
						class="form-control form-control-sm" id="email"
						formControlName="confirmPassword">
					<p class="text-danger" *ngIf="this.resetPasswordForm.value['password'] !== this.resetPasswordForm.value['confirmPassword']">Les mots de passe ne sont pas identiques</p>
				</div>
				<div class="col-3"></div>
			</div>

			<div class="row">
				<div class="col-12">
					<button class="btn MBP_BTN_SUBMIT float-right" type="submit"
						[disabled]="resetPasswordForm.invalid">Changer le mot de
						passe</button>
				</div>
			</div>
		</form>
		<p class="text-danger text-center">{{errorMessage}}</p>
	</div>
</div>