<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/photo_accueil/photo_accueil_5.jpg"  alt="Image d'accueil 1">
    </div>
    <div class="carousel-caption">
      <h1>Rencontrez votre partenaire de sport ideal</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h1>Préparez et planifiez vos séances </h1>
    </div>
    <div class="picsum-img-wrapper">
      <img src="assets/img/photo_accueil/photo_accueil_4.jpg"  alt="Image d'accueil 2">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/photo_accueil/photo_accueil_6.jpg"  alt="Image d'accueil 3">
    </div>
    <div class="carousel-caption">
      <h1>Progressez et devenez plus fort</h1>
    </div>
  </ng-template>
</ngb-carousel>
<div class="MBP-alert">
	<ngb-alert *ngIf="inscription" [dismissible]="false" type="success" (close)="inscription = false">{{inscription_success}}</ngb-alert>
</div>
<div class="MBP-alert">
	<ngb-alert *ngIf="cancel" [dismissible]="false" type="info" (close)="cancel = false">{{cancel_success}}</ngb-alert>
</div>
<div class="MBP-alert">
	<ngb-alert *ngIf="support" [dismissible]="false" type="success" (close)="support = false">{{support_success}}</ngb-alert>
</div>
