<div class="MBP_CORPS">
  <div class="MBP_CORPS_TITRE">
    <div class="h2 text-center">Consulter une annonce</div>
  </div>
  <div class="MBP_CORPS_CONTENU">
    <form [formGroup]="loginForm">
      <div class="row">
        <div class="form-group col">
          <label for="NomCreaAnnonce">Nom</label>
          <input type="text" id="NomCreaAnnonce" class="form-control" placeholder="Nom de votre annonce" formControlName="NomCreaAnnonce" [disabled]="true">
        </div>
        <div class="form-group col">
          <label for="NiveauCreaAnnonce">Niveau pratiquant</label>
          <select id="NiveauCreaAnnonce" class="form-control form-control-sm" formControlName="NiveauCreaAnnonce" [disabled]="true">
            <option value="DEBUTANT">Débutant</option>
            <option value="AMATEUR">Amateur</option>
            <option value="AVANCE">Avancé</option>
            <option value="PROFESSIONEL">Professionnel</option>
          </select>
        </div>
      </div>
      <div class="MBP_LINE_1PX"></div>
      <div class="form-group">
        <label for="DescriptionCreaAnnonce">Description</label>
        <textarea type="txt" id="DescriptionCreaAnnonce" class="form-control"placeholder="Description pour votre annonce" rows="2" formControlName="DescriptionCreaAnnonce" [disabled]="true"></textarea>
      </div>
      <div class="MBP_LINE_1PX"></div>
      <div class="row">
        <div class="form-group col">
          <label for="DureeSeanceCreaAnnonce">Durée de la séance</label>
          <input type="time" id="DureeSeanceCreaAnnonce" class="form-control" placeholder="Indiquez la durée de la séance" formControlName="DureeSeanceCreaAnnonce" [disabled]="true">
        </div>
        <div class="form-group col">
          <label for="DateSeanceCreaAnnonce">Date de la séance</label>
          <input type="date" id="DateSeanceCreaAnnonce" class="form-control" placeholder="Indiquez la date de la séance" formControlName="DateSeanceCreaAnnonce" [disabled]="true">
        </div>
      </div>
      <div class="MBP_LINE_1PX"></div>
      <div class="form-group">
        <label for="typeSeanceCreaAnnonce">Type de séance</label>
        <select class="form-control" id="typeSeanceCreaAnnonce" formControlName="typeSeanceCreaAnnonce" [disabled]="true">
          <option *ngFor="let typeSeance of obsTypeSeance | async" value="{{typeSeance.idSeance}}">{{typeSeance.libelle}}</option>
        </select>
      </div>
      <div class="MBP_LINE_1PX"></div>
      <div class="form-group">
        <label>Participants</label>
        <table class="table" *ngIf="ItemsArray.length > 0">
          <caption></caption>
          <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Username</th>
            <th scope="col">Sexe</th>
            <th scope="col">Salle</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of ItemsArray">
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.username}}</td>
            <td>{{item.sexe}}</td>
            <td>{{item.sid.nom}}</td>
            <td>
              <button mat-mini-fab color="warn" (click)="confirmDeleteParticipant(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="text-info" *ngIf="ItemsArray.length == 0">Il n'y a pas de participants sur cette annonce</p>
      </div>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
