<div class="MBP_CORPS">

	<div class="MBP_CORPS_TITRE">
		<div class="h2 text-center">Liste des utilisateurs</div>
	</div>
	<div class="MBP_CORPS_CONTENU">
    <div class="input-group flex-nowrap" style="text-align: center; width: 30%; margin-bottom: 2%; margin-left: 35%">
      <input type="text" class="form-control" [(ngModel)]="term"  placeholder="email, prenom ou nom"
             aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div *ngFor="let user of obsListUser | async | userFilter:term">
		  <div class="row ROW_USER" *ngIf="myUsername != user.username">
			  <div class="col-10 INFO_USER">
				  <div class="row">
					  <div class="col-3">
						  <div class="row">
							  <label class="USER_LABEL">Prénom</label>&nbsp;:&nbsp; <span>
                  {{ user.prenom}} </span>
	  					</div>
		  				<div class="row">
			  				<label class="USER_LABEL">Nom</label>&nbsp;:&nbsp; <span>
				  				{{ user.nom}} </span>
	  					</div>
		  			</div>
			  		<div class="col">
				  		<div class="row">
					  		<label class="USER_LABEL">Username</label>&nbsp;:&nbsp; <span>
						  		{{ user.username}} </span>
	  					</div>
		  			</div>
			  	</div>
	  		</div>
		  	<div class="col-2 ">
          <button style="margin-top: 10%" mat-mini-fab color="warn" (click)="confirmDeleteUser(user)">
            <mat-icon>remove_circle_outline</mat-icon>
         </button>
		  	</div>
      </div>
		</div>
	</div>
	>>>>>>> refs/heads/master
</div>
