<table class="table">
  <thead>
  <tr>
    <th scope="col">Nom de l'annonce</th>
    <th scope="col">Niveau</th>
    <th scope="col">Type</th>
    <th scope="col">Date</th>
    <th scope="col">Durée</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ItemsArray">
      <td>{{item.nom}}</td>
      <td>{{item.niveau}}</td>
      <td>{{item.type}}</td>
      <td>{{item.date}}</td>
      <td>{{item.duree * 60000 | date: 'H:mm':'UTC'}}</td>
      <td>
        <button mat-mini-fab color="primary" routerLink="/editAdvert/{{item.aid}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="deleteAdvertById(item.aid)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
