.btn{
    margin: 0.25rem 1.5rem 0.25rem 1.5rem !important;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.bg-mbp{
    background-color:  #6d0000 !important;
}

.nav-link{
  color: white !important;  
}

.nav-link:hover{
    color:gray !important;
}


.navbar{
    padding: 0rem 0.5rem 0rem 1rem !important;
    height: 100% !important;
}

#label-navbar {
    color : white !important;
    padding-top: 0.5rem !important;
    padding-left: 0.5rem !important;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}